# 1.About Data 
 Netflix_Data

# 2.Objectives
- To clean and understand the basic structure of the Netflix dataset.  
- To identify key patterns and summaries from the data through simple exploratory analysis.

# 3.Kernel Used
3.13.5

# 4.Importing Libraries

In [ ]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# 5.Data Loading

In [ ]:
data = pd.read_csv(r"C:\Users\Assasin\OneDrive\Desktop\Project1\venv\data2.csv.csv")

Top 5 Rows Of the Data

In [ ]:
data.head(5)

Set option for Maximum Rows and Columns

In [ ]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
#hide warnings 
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Total Columns in dataset
print(f"The columns in the dataset are: {data.columns}")

In [ ]:
#Total Numbers of rows and Columns in the dataset
print(f"The Total Numebers of rows are:{data.shape[0]} and the total numbers of columns are :{data.shape[1]}")

In [ ]:
data.info()

In [ ]:
data.describe()

convert to numeric

In [ ]:
data['show_id'].unique()

In [ ]:
data['show_id'].isnull().sum()

In [ ]:
data['show_id'].loc[data['show_id'].str.contains('s')].value_counts().sum()

no missing values

In [ ]:

data["show_id"] = data["show_id"].str.extract(r'(\d+)').astype(int)

In [ ]:
data['show_id']

Rename The Column

In [ ]:
data.rename(columns={'show_id':"ID"},inplace=True)

In [ ]:
data.head(2)

In [ ]:
data['rating'].unique()

In [ ]:
data['duration'].unique()

1.min
2.seasons
3.Nan

In [ ]:
#making a function to remove these string values 

def clean_duration(value):
    if isinstance(value, str):
        value = value.strip()

        if "min" in value:
            return int(value.replace("min", "").strip())
        elif "Season" in value:
            return int(value.replace("Seasons", "").replace("Season", "").strip())

    return np.nan

In [ ]:
data["duration"] = data["duration"].apply(clean_duration)

# data["is_movie"] = data["duration"].str.contains("min", na=False)
# data["is_tvshow"] = data["duration"].str.contains("Season", na=False)

In [ ]:
data['duration']

In [ ]:
data = data.dropna(subset=["duration"])

In [ ]:
data['duration'].isnull().sum()

In [ ]:
data.shape

In [ ]:
data.head(2)

In [ ]:
data['release_year'].unique()

In [ ]:
data['date_added'].unique()

checking for Null values in Date_Added

In [ ]:
data['date_added'].isnull().sum()

In [ ]:
data = data.dropna(subset=["date_added"])

In [ ]:
data['date_added'].isnull().sum()

Converting string To Date_Time

In [ ]:
data["date_added"] = pd.to_datetime(data["date_added"], errors="coerce")

In [ ]:
data["added_year"] = data["date_added"].dt.year

data["added_month"] = data["date_added"].dt.month

data["added_day"] = data["date_added"].dt.day

# Weekday (0=Monday, 6=Sunday)
data["added_weekday"] = data["date_added"].dt.weekday

In [ ]:
data.head(2)

In [ ]:
data['date_added'].value_counts()

In [ ]:
data['director'].unique()

In [ ]:
data['director'].isnull().sum()

In [ ]:
#most-Common director name
data["director"].value_counts().head(10)

Filling Null values with Unknown

In [ ]:
data["director"] = data["director"].fillna("Unknown")

In [ ]:
data['director'].isnull().sum()

In [ ]:
data['director'].value_counts()

In [ ]:
data.head(3)

Checking Null Values in type,cast title and country

In [ ]:
data['type'].isnull().sum()

In [ ]:
data['title'].isnull().sum()

In [ ]:
data['cast'].isnull().sum()

In [ ]:
data['cast'].value_counts()

In [ ]:
data["cast"] = data["cast"].fillna("Unknown")

In [ ]:
data['cast'].isnull().sum()

In [ ]:
data.head(2)

In [ ]:
data['country'].isnull().sum()

Replacing Null values in Country with Unknown

In [ ]:
data['country']=data['country'].fillna("Unknown")

In [ ]:
data['country'].isnull().sum()

In [ ]:
data.info()

In [ ]:
data.shape

Checking For Null Values in Rating

In [ ]:
data['rating'].isnull().sum()

Filling with most Common Rating

In [ ]:
data["rating"] = data["rating"].fillna(data["rating"].mode()[0])

In [ ]:
data['rating'].isnull().sum()

In [ ]:
data.info()

Total Movies Vs Tv Shows

In [ ]:
data["type"].value_counts()

10 countries with most shows/movies:

In [ ]:
data["country"].value_counts().head(10)

Top  Directors:

In [ ]:
print(data["director"].value_counts().head(10))

Newest Movie/Tv Shows:

In [ ]:
newest = data.sort_values(by="release_year", ascending=False)[["title", "release_year", "type"]].head(5).reset_index(drop=True)
newest
#we are reseting index so we don't see any random index

Oldest Movie/TV show:

In [ ]:
oldest = data.sort_values(by="release_year", ascending=True)[["title", "release_year", "type"]].head(5).reset_index(drop=True)
oldest

Movies /Tv shows genres:

In [ ]:
data["listed_in"].value_counts().head(10)

Identifying Numeric Columns:

In [ ]:
numeric_data = data.select_dtypes(include=['int64', 'float64'])
numeric_data.head(5)

Making correlation Matrix:

In [ ]:
correlation_matrix = numeric_data.corr()
correlation_matrix

Correlation of Duration and Release Year:

In [ ]:
corr_duration_year = numeric_data['duration'].corr(numeric_data['release_year'])
corr_duration_year

Release Year vs Added Year Correlation:

In [ ]:
release_added_data = numeric_data[['release_year', 'added_year']]
release_added_corr = release_added_data.corr()
release_added_corr

# Netflix Data Visualization

In [ ]:
# Count of Movies vs TV Shows
import seaborn as sns
import matplotlib.pyplot as plt

sns.countplot(x='type', data=data)
plt.title("Count of Movies vs TV Shows")
plt.show()

 # Content Added by Year

In [ ]:
data['date_added'] = pd.to_datetime(data['date_added'])
data['year_added'] = data['date_added'].dt.year

data['year_added'].value_counts().sort_index().plot(kind='bar', figsize=(10,4))
plt.title("Number of Titles Added Each Year")
plt.xlabel("Year")
plt.ylabel("Count")
plt.show()

# Top 10 Countries Producing Content

In [ ]:
top_countries = data['country'].value_counts().head(10)
top_countries.plot(kind='bar')
plt.title("Top 10 Content-Producing Countries on Netflix")
plt.xlabel("Country")
plt.ylabel("Count")
plt.show()

# Most Common Genres

In [ ]:
data['listed_in'].value_counts().head(10).plot(kind='bar')
plt.title("Top 10 Genres on Netflix")
plt.xlabel("Genre")
plt.ylabel("Count")
plt.show()

# Release Year Distribution

In [ ]:
sns.histplot(data['release_year'], bins=30, kde=True)
plt.title("Distribution of Content by Release Year")
plt.xlabel("Release Year")
plt.ylabel("Frequency")
plt.show()